.container {
  background-color: lightblue;
}


#completed {
  margin: auto;
  padding: 10px;
  padding-top: 120px;
}

ul {
  position: relative;
  width: 400px;
  border: 1px solid lightskyblue;
  margin: 0 auto;
  text-align: left;
  padding: 0px 7px;
  border-radius: 3px;
  background: transparent;
}

ul li {
  margin: 9px 0px !important;
  border: 1px solid lightskyblue;
  list-style: none;
  padding: 9px 7px !important;
  background: lightsteelblue;
}

#completed li{
  margin: 9px 0px !important;
  border: 1px solid lightskyblue;
  list-style: none;
  padding: 9px 7px !important;
  background: lightsteelblue;
}

ul li input {
  position: relative;
  top: 0px;
  margin-right: 0px !important;
}

ul li remove-icon {
  cursor: pointer;
}

.form-control:focus {
  color: #212529;
  background-color: lightskyblue;
  border-color: lightblue;
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-check-input:focus {
  border-color: #198754;
  outline: 0;
  box-shadow: inset;
}

.input-group {
    position: relative;
    left: 3px;
    width: 400px;
}

@media (max-width: 575.98px){
    ul{
        width: 270px;
    }
    .input-group{
        width: 265;
    }
}